<a href="https://colab.research.google.com/github/alpha36turn/Colab-Notebooks/blob/master/tidyquery_r.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
install.packages("pacman")
library(pacman)
p_load(tidyverse, tidyquery, nycflights13)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [5]:
head(flights)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [ ]:
flights %>% select(dep_delay)

In [ ]:
query(
" SELECT dep_delay 
  FROM flights;"
)

In [19]:
show_dplyr(
"  SELECT origin 
   FROM flights
   COUNT
"
)

flights %>%
  select(origin)

In [9]:
query(
" SELECT * FROM flights
  LIMIT 6
"
)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [ ]:
query(
" SELECT origin, dep_delay FROM flights
  ORDER BY dep_delay DESC
"
)

In [11]:
query(
" SELECT origin, round(AVG(dep_delay)) AS avg_delay FROM flights
  GROUP BY origin
"
)

  origin avg_delay
1 EWR    15
2 JFK    12
3 LGA    10

In [21]:
show_dplyr(
" SELECT origin, round(AVG(dep_delay)) AS avg_delay FROM flights
  GROUP BY origin
"
)

flights %>%
  group_by(origin) %>%
  summarise(avg_delay = round(mean(dep_delay, na.rm = TRUE))) %>%
  ungroup()

In [ ]:
query(
" SELECT year, origin, carrier, name, dep_delay 
    FROM flights RIGHT OUTER JOIN airlines
    ON flights.carrier = airlines.carrier
    ORDER BY dep_delay DESC
"
)

In [23]:
show_dplyr(
" SELECT year, origin, carrier, name, dep_delay 
    FROM flights RIGHT OUTER JOIN airlines
    ON flights.carrier = airlines.carrier
    ORDER BY dep_delay DESC
"
)

flights %>%
  right_join(airlines, by = "carrier", suffix = c(".flights", ".airlines"), na_matches = "never") %>%
  select(year, origin, carrier, name, dep_delay) %>%
  arrange(dplyr::desc(dep_delay))

In [15]:
flights %>%
  right_join(airlines, by = "carrier", suffix = c(".fligths", ".airlines"),
             na_matches = "never") %>%
  select(year, origin, carrier, name, dep_delay) %>%
  arrange(dplyr::desc(dep_delay))

       year origin carrier name                     dep_delay
1      2013 JFK    HA      Hawaiian Airlines Inc.   1301
2      2013 JFK    MQ      Envoy Air                1137
3      2013 EWR    MQ      Envoy Air                1126
4      2013 JFK    AA      American Airlines Inc.   1014
5      2013 JFK    MQ      Envoy Air                1005
6      2013 JFK    DL      Delta Air Lines Inc.      960
7      2013 LGA    DL      Delta Air Lines Inc.      911
8      2013 JFK    DL      Delta Air Lines Inc.      899
9      2013 LGA    DL      Delta Air Lines Inc.      898
10     2013 EWR    AA      American Airlines Inc.    896
11     2013 EWR    MQ      Envoy Air                 878
12     2013 JFK    MQ      Envoy Air                 853
13     2013 LGA    F9      Frontier Airlines Inc.    853
14     2013 JFK    AA      American Airlines Inc.    853
15     2013 EWR    DL      Delta Air Lines Inc.      849
16     2013 EWR    AA      American Airlines Inc.    845
17     2013 JFK    DL      Delta Air Lines Inc.      825
18     2013 LGA    DL      Delta Air Lines Inc.      812
19     2013 LGA    AA      American Airlines Inc.    803
20     2013 JFK    DL      Delta Air Lines Inc.      800
21     2013 EWR    DL      Delta Air Lines Inc.      798
22     2013 JFK    AA      American Airlines Inc.    797
23     2013 JFK    DL      Delta Air Lines Inc.      790
24     2013 LGA    DL      Delta Air Lines Inc.      788
25     2013 LGA    DL      Delta Air Lines Inc.      787
26     2013 EWR    DL      Delta Air Lines Inc.      786
27     2013 JFK    AA      American Airlines Inc.    761
28     2013 LGA    DL      Delta Air Lines Inc.      753
29     2013 JFK    9E      Endeavor Air Inc.         747
30     2013 EWR    DL      Delta Air Lines Inc.      702
⋮      ⋮    ⋮      ⋮       ⋮                        ⋮
336747 2013 LGA    MQ      Envoy Air                NA
336748 2013 LGA    EV      ExpressJet Airlines Inc. NA
336749 2013 LGA    EV      ExpressJet Airlines Inc. NA
336750 2013 LGA    EV      ExpressJet Airlines Inc. NA
336751 2013 JFK    EV      ExpressJet Airlines Inc. NA
336752 2013 EWR    B6      JetBlue Airways          NA
336753 2013 LGA    US      US Airways Inc.          NA
336754 2013 LGA    US      US Airways Inc.          NA
336755 2013 LGA    MQ      Envoy Air                NA
336756 2013 LGA    MQ      Envoy Air                NA
336757 2013 EWR    MQ      Envoy Air                NA
336758 2013 LGA    EV      ExpressJet Airlines Inc. NA
336759 2013 LGA    US      US Airways Inc.          NA
336760 2013 EWR    WN      Southwest Airlines Co.   NA
336761 2013 LGA    AA      American Airlines Inc.   NA
336762 2013 LGA    US      US Airways Inc.          NA
336763 2013 EWR    MQ      Envoy Air                NA
336764 2013 LGA    UA      United Air Lines Inc.    NA
336765 2013 LGA    EV      ExpressJet Airlines Inc. NA
336766 2013 JFK    AA      American Airlines Inc.   NA
336767 2013 EWR    US      US Airways Inc.          NA
336768 2013 EWR    EV      ExpressJet Airlines Inc. NA
336769 2013 EWR    MQ      Envoy Air                NA
336770 2013 LGA    UA      United Air Lines Inc.    NA
336771 2013 LGA    EV      ExpressJet Airlines Inc. NA
336772 2013 JFK    9E      Endeavor Air Inc.        NA
336773 2013 LGA    9E      Endeavor Air Inc.        NA
336774 2013 LGA    MQ      Envoy Air                NA
336775 2013 LGA    MQ      Envoy Air                NA
336776 2013 LGA    MQ      Envoy Air                NA